@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-main {
  background: #fffffe;
}
.bg-card {
  box-shadow: none !important;
  background: #f2f4f6;
  color: #1b2d45;
}
.bg-tag {
  background: #fffffe !important;
  color: #00214d !important;
}
small {
  color: #ff5470;
}